*.olean
/_target
/leanpkg.path
/lake-packages
/build
/.lake/
/.cache
Doc/cheatsheet.aux
Doc/cheatsheet.aux
Doc/cheatsheet.aux
Doc/cheatsheet.aux
Doc/cheatsheet.fdb_latexmk
Doc/cheatsheet.fls
Doc/cheatsheet.log
Doc/cheatsheet.synctex.gz
